In [72]:
import datasets
import torch

import pandas as pd

from transformers import BartTokenizer

## English semantic features data

In [36]:
english_features_raw = pd.read_excel('./final_words_2017.xlsx')
english_features = english_features_raw[['cue', 'translated']]
english_features = english_features.drop_duplicates()
english_features

           cue translated
0      abandon     desert
1      abandon       give
2      abandon      leave
5      abandon         up
6      abandon   withdraw
...        ...        ...
69271     true     honest
69274     true       real
69277     true      right
69280     true      truth
69283     true      false

[42616 rows x 2 columns]

## BART pre-trained model

In [74]:
bart = BartTokenizer.from_pretrained("facebook/bart-large")

token_test = bart.encode('Hello world!')
print(token_test)
bart.decode(token_test)

[0, 31414, 232, 328, 2]

'<s>Hello world!</s>'